.tabs-coditor {
  display: block;
  min-width: 600px;
}

.tabs-coditor ol,
.tabs-coditor li {
  margin: 0;
  padding: 0;
}
.tabs-coditor .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tabs-coditor .tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tabs-coditor .is-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content pre {
  /* display: none; */
}

.tab-list li {
  cursor: pointer;
}
