article.card-item {
  margin: 0px 15px 20px;
  border: 1px rgba(255, 255, 255, 0.03) solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 250px;
  position: relative;
}

article.card-item section {
  font: 1.5rem "Oswald", sans-serif;
  height: 100%;
  transition: all 0.2s linear 0s;
}

article.card-item section.front,
article.card-item section.back {
  background: #ddd;
  align-items: center;
  justify-content: center;
  display: flex;
}

article.card-item section.back {
  color: white;
  background: #c85073;
  position: absolute;
  top: 0;
  z-index: -1;
}
